body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1{
    color: white;
    background-color:red;
    display:inline-blockm;
    padding: 10px 30px;
    font-family: impact, 
    sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    border: 3px solid white
    border-radius: 8px;
    
} 
    

p{
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

img{
    width: 300px;
    border: 5px solid red;
    border-radius: 15px;
    box-shadow: 0 0 20px red;
    margin: 20px 0;
}

button{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

cite{
    color: blue; 
    font-size: 20px;
} 

button:hover{
    background-color: white;
    color: red;
}
