body{
    background-color: #111111;
    font-family: Arial, sans-serif;
}

h1{
    color: #e60000;
    text-align: center;
    font-size: 40px;
}

h2{
    color: #0066cc;
    text-align: center;
}

p{
    color: white;
    font-size: 18px;
    text-align: justify;
}

ul{
    color: #ff4d4d;
}

img{
    width: 205 px;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 4px solid red;
}

a{
    color: #00bfff;
    font-weight: bold;
    text-decoration: none;
}
